
nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    margin-left: 70px;
    width: 180px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.links{
    margin-right: 50px;
}
.links a{
    
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 450;
}
.links a:hover{
    color: #c9c9c9c5;
}

.btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    outline: 1.5px solid transparent;
    border: none;
    border-radius: 0.2rem;
    
    cursor: pointer;
    transition: all 0.3 ease;
}
.btn:hover{
    color: #000;
    background: #ffffff;
    outline: 1.5px solid transparent;
}
.dark-nav{
    background: #3b4496;
    transition: 0.5s;
}
.menu-icon{
    margin-right: 10px;
    padding: 3px;
    display: none;
}

/* ----- media query ----- */
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
    .btn{
        padding: 14px 22px;
    }
}
/* ----- media query ----- */
@media (max-width: 840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        color: #000;
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}