.login{
    width: 100%;
    height: 100vh;
    display:block;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: linear-gradient(rgba(97, 92, 128, 0.7),rgba(61, 52, 117, 0.7)), url(../../images/wallpaper.jpg);
}
.form1-popup{
    top: 20%;
    left: 20%;
    max-width: 900px;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff8f8;
    border: 2px solid #fff;
    box-shadow: 0 5px 15px rgba(30, 0, 179, 0.35);
    position: fixed;
}
.form1-box{
    width: 100%;
    justify-content: center;
    display: flex;
}
.form1-details{
    max-width: 350px;
    width: 100%;
    margin: 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    background: url("../../images/login.png");
    background-size: cover;
    background-position: bottom;
}
.form1-box h2{
    text-align: center;
    margin-bottom: 30px;
}
.form1-box .form1-content{
    width: 100%;
    padding: 35px;
}
form .inputs{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
form .inputs input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
    
}
.inputs input:focus{
    border-color: #000ed4;
}
.inputs input:is(:focus, :valid){
    padding: 16px 15px 0;
}
form .inputs label{
    position: absolute;
    top: 17%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}
.inputs input:is(:focus, :valid) ~ label {
    
    font-size: 0.75rem;
    transform: translateY(-120%);
}
.form1-box a{
    color: #000;
    text-decoration: none;
}
.form1-box a:hover{
    text-decoration: underline;
}
.form1-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}
.log-btn{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    background: #717171;
    transition: all 0.3s ease;
    cursor: pointer;
}
.log-btn:hover{
    color: #000;
    font-weight: 650;
    background: rgb(168, 168, 168);
    outline: 1.5px solid transparent;
}
.form1-box .signup-link{
    text-align: center;
}
/* ---------- media query --------- */
@media (max-width: 760px){
    .form1-popup{
        width: 95%;
        flex-direction: column;
    }
    .form1-box .form1-details{
        flex-basis: 100%;
        display: none;
    }
    .form1-box .form1-content{
        flex-basis: 100%;
        padding: 30px 20px;
    }
}